.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-converter {
    padding: 10px;
    background-color: aquamarine;
    border-radius: 3px;
}

.input {
    border: 1px solid black;
}